<%- include('layout', { body: `
    <h1>Добро пожаловать в <%= appName %>!</h1>
    <p>Ваш универсальный инструмент для управления портфолио.</p>
    <button onclick="window.location.href='/portfolio'">Посмотреть портфолио</button>
  ` }) %>


  
  