<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title><%= appName %></title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/portfolio">Портфолио</a></li>
        <li><a href="/api/sports">Спорт</a></li>
        <li><a href="/api/news">Новости</a></li>
        <li><a href="/auth/login">Войти</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
  <footer>
    <p>Разработано: Saltanat | Группа: WEB2</p>
  </footer>
</body>
</html>









