<%- include('layout', { body: `
    <h1>${appName} - Портфолио</h1>
    <div class="carousel">
      <% if (portfolioItems && portfolioItems.length > 0) { %>
        <% portfolioItems.forEach(item => { %>
          <div class="carousel-item">
            <img src="<%= item.image1 %>" alt="Image 1">
            <h3><%= item.title %></h3>
            <p><%= item.description %></p>
          </div>
        <% }) %>
      <% } else { %>
        <p>Нет доступных элементов портфолио.</p>
      <% } %>
    </div>
  ` }) %>
  
  
  
  
  
  
  