<%- include('layout', { body: `
    <h1>Регистрация</h1>
    <form action="/auth/register" method="POST">
      <label for="username">Email:</label>
      <input type="email" id="username" name="username" required>
      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password" required>
      <label for="firstName">Имя:</label>
      <input type="text" id="firstName" name="firstName">
      <label for="lastName">Фамилия:</label>
      <input type="text" id="lastName" name="lastName">
      <label for="age">Возраст:</label>
      <input type="number" id="age" name="age">
      <label for="gender">Пол:</label>
      <select id="gender" name="gender">
        <option value="male">Мужской</option>
        <option value="female">Женский</option>
      </select>
      <button type="submit">Зарегистрироваться</button>
    </form>
  ` }) %>
  
  
  
  